.hero-section {
    text-align: center;
    background-image:  url('../img/bg_hero.png');
    background-size: 100%;
    background-repeat: no-repeat;
    
    color: #ffffff;
    font-family:'oswald','bold';
    }

.text {
     text-align: center;
     color: black;
     font-family: 'open sans,semibold';
     font-size: 25pt;
    }

.text2 {
     text-align: center;
    
    }
    
.bg-color{
     background-color: #660066;

    }
.logo {
    font-family:'oswald',bold;
    color: white;
    font-size: 35pt;
    text-align: left;
    margin-left: 7%;
    }
.style {
    font-family: 'Oswald',;
    font-size: 72pt;
}   
.style2{
    font-family:'Oswald', bold;
    font-size: 72pt;
}
.line {
    border: 1px solid white; 
    width: 190px;
    display: inline-block;
    }
.line2 {
    border: 1px solid black; 
    width: 190px;
    display: inline-block;
    }

.color{
    color: #660066;
}
.text3 {
    font-family:'Oswald',semibold;
}
.center {
    text-align: center;
}
.fondo {
    background-color: #660066;

}

.text4 {
text-align: center;
font-family: 'Oswald', bold;
color: white;
}
.text5 {
 font-family: 'opensans','light'; 
 color: #373A3C;  
}

.color2 {
    background-color: #660066 ;
}

.color3 {
    color: white;
}

.right {
    text-align: right;
}
.line3 {
    border: 1px solid black; 
    width: 190px;
    display: inline-block;
    text-align: center;
    }
 .margin{
     margin-right: 18%;
 }   

